<p id="notice"><%= notice %></p>
<div class="input-group">
   <input id="newPlace" type="text" class="form-control" placeholder="Add a location">
   <span class="input-group-btn">
     <button id="submit" class="btn btn-secondary" type="button">Add Location</button>
   </span>
 </div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Map</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody id="locationsTable">
    <% @locations.each do |location| %>
      <tr>
        <td><img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= location.latitude %>,<%= location.longitude %>&zoom=10&scale=1&size=200x200&maptype=roadmap&format=png&visual_refresh=true"></td>
        <td><%= location.name %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
